.header-title {
	margin-top:20%;
	font-size:8em;
	color:#FFFFFF;
}
.writtenBy {
	color:#000000;
	margin:2.5%;
	font-size:2em;
}
.weather-div {
	font-size:2.5em;
	margin:0 25%; 
	width:50%;
}
.footer {
	font-size:1.5em;
	margin-top:10%;
}