body {
	background: url('../cloud.jpg')no-repeat center fixed;
}
.weatherAppContainer {
	margin-top:10%;
}
.header-title {
	font-size:3em;
	color:#000000;
}
.weather-div {
	border:1px solid #ECECEC;
	background-color:#ECECEC;
	min-width:40%;
	margin:0 30%;
	opacity:.8;	
}
.weather-details {
	color:#000000;
}
.writtenBy {
	color:#000000;
	margin:2.5%;
}
.borderAround {
	border:1px solid #ECECEC;
	background-color:#ECECEC;
	padding:1%;
	opacity:.8;
}
.sm-links {
	font-size:2em;
}
.sm-links:hover {
	text-decoration:none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:2% auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width:449px) {
	.weather-div {
		min-width:90%;
		margin:0 5%;
	}
}
@media (min-width:450px) and (max-width: 725px) {
	.weather-div {
		min-width:60%;
		margin:0 20%;
	}
}