body {
	background:url('../galaxy-wallpaper-11.jpg');
}
.weatherAppContainer {
	margin-top:5%;
}
.header-title {
	font-size:3em;
	color:#FFFFFF;
}
.weather-div {
	border:1px solid #FFFFFF;
	width:40%;
	margin:0 30%;	
}
.weather-details {
	color:#FFFFFF;
}
.writtenBy {
	color:#000000;
	margin:2.5%;
}
.borderAround {
	border:1px solid #ECECEC;
	background-color:#ECECEC;
	padding:1%;
	opacity:.8;
}
.sm-links {
	font-size:2em;
}
.sm-links:hover {
	text-decoration:none;
}